:root {
  --primry-color: #8D5CF6;
  --text-color: #252B42;
  --secondary-text-color: #737373;
  --primary-text-color: #8D5CF6;
  --light-text-color: #ffffff;
  --light-background-color: #ffffff;
  --dark-hover-shade: #26335D;
  --danger-color: #E74040;
  --background-shade-lite: #F6F7FB;
  --background-shade-beige-lite: #FAFAFA;
  --background-shade-beige: #FFF2F3;
}

@media(max-width:1024px) {
  .container_large {
    margin: auto;
    padding: 0px 20px;
  }

  .container {
    margin: auto;
    padding: 0px 20px;
  }

  .container_mid {
    margin: auto;
    padding: 0px 20px;
  }

  .banner .hero_one {
    display: none;
  }

  .banner_dtls {
    max-width: 100%;
    align-items: center;
    text-align: center;
    justify-content: center;
  }

  .banner .btn .outline_btn {
    padding: 15px 40px;
  }

  .card_block {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  .card_block img {
    width: 100%;
    height: 100%;
  }

  .card_block .card_dtls .d_dark {
    width: auto;
  }

  .card_block .card_dtls .d_lite {
    width: auto;
  }

  .card_block .card_dtls .d_prise {
    gap: 15px;
  }

  .card_dtls .d_sub .outline_btn {
    padding: 10px 20%;
  }

}

@media (max-width:768px) {

  .navlink {
    gap: 15px;
  }

  .navbar .transparent_btn{
    display: none;
  }

  #check:checked~ul {
    left: 0;
    top: 0;
  }

  .hamburger_menu{
    display: block;
    border-radius: 5px;
  }

  .navlink ul {
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 50vh;
    background-color: var(--background-shade-lite);
    box-shadow: 0 13px 19px 0 #00000012;
    transition: all 0.5s ease-in-out;
    gap: 0;
    margin-top: 0;
    padding: 0;
    border-radius: 10px;
  }

  .navlink .logo {
    display: block;
    align-items: center;
  }

  .navlink li a {
    column-gap: 5px;
    padding-bottom: 5px;
    padding: 15px 50px;
    border-radius: 30px;
  }

  .navlink ul a span {
    display: none;
  }

  .card_block {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  .section_heading {
    align-items: center;
    text-align: center;
  }

  .cards_wrap {
    column-gap: 0;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }

  .hero_cover {
    display: none;
  }

  .section_hero_middle {
    justify-content: center;
  }

  .section_hero_middle_second {
    justify-content: center;
  }

  .detailes {
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }

  .detailes .head {
    max-width: 100%;
  }

  .detailes .head p {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    gap: 20px;
  }

  .detailes .sub_head {
    max-width: 469px;
  }

  .detailes .transparent_btn {
    border: 1px solid var(--primry-color);
    padding: 10px 100px;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
  }

  .detailes .transparent_btn:hover {
    background-color: var(--primry-color);
    color: var(--light-text-color);
  }

  /* icon card block */

  .card_block {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 37px;
  }

  .card_block img {
    width: 250px;
    max-height: fit-content;
  }

  .pricing {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 37px;
  }

  /* text box */

  input[type="email"] {
    min-width: 430px;
    max-height: 10px;
  }

  /* footer */

  .list_wrap {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
  }

  .end_list {
    padding: 0;
  }

  .end_list ul li {
    list-style: none;
  }

  .end_list_final ul li {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .tail .social_media_icons {
    padding-right: 0%;
  }
}

@media(max-width:540px) {

  .banner_dtls .xl_text p {
    font-size: 36px;
  }

  .section_heading .xl_text {
    font-size: 30px;
  }

  .detailes .head p {
    font-size: 30px;
  }

  .sub_head {
    font-size: 14px;
  }

  .end_list ul a {
    font-size: 12px;
  }

  .end_list ul li h5 {
    font-size: 14px;
  }

  .navbar .btn {
    display: none;
  }

  .cards_wrap {
    grid-template-columns: none;
  }

  .cards_wrap .card {
    max-width: 400px;
  }

  .card p {
    max-width: 100%;
  }

  .card_block {
    grid-template-columns: none;
  }

  .card_block img {
    max-height: 500px;
    max-width: 500px;
  }

  .pricing {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .pricing .list {
    align-self: auto;
    max-width: 100%;
  }

  .experts {
    grid-template-columns: none;
    gap: 30px;
  }

  .exprt_dtls {
    font-size: 12px;
  }

  input[type="email"] {
    max-width: 320px;
    max-height: 10px;
  }

  .tail {
    padding: 5px;
  }

  .colorbg_footer_tail p {
    font-size: 12px;
  }

  .social_media_icons a {
    font-size: 16px;
  }
}

@media(max-width:420px) {

  .cards_wrap .card {
    min-width: 0px;
  }

  .card_block img {
    max-height: 100%;
    max-width: 100%;
  }

  .pricing .list {
    align-self: center;
    max-width: fit-content;
  }

  input[type="email"] {
    min-width: 230px;
    max-height: 3px;
    font-size: 12px;
  }

  .text_box .filled_btn {
    font-size: 12px;
  }

  .list_wrap {
    display: none;
  }

  .colorbg_footer_tail p {
    font-size: 10px;
  }

  .tail {
    flex-direction: column-reverse;
    padding: 3px 0;
  }

}