:root {
    --primry-color: #8D5CF6;
    --text-color: #252B42;
    --secondary-text-color: #737373;
    --primary-text-color: #8D5CF6;
    --light-text-color: #ffffff;
    --light-background-color: #ffffff;
    --dark-hover-shade: #26335D;
    --danger-color: #E74040;
    --background-shade-lite: #F6F7FB;
    --background-shade-beige-lite: #FAFAFA;
    --background-shade-beige: #FFF2F3;
}

* {
    font-family: Montserrat;
}

body {
    margin: 0;
}

section {
    padding: 100px 0;
}

.container {
    margin: 0px auto;
    max-width: 1050px;
}

.container_mid {
    max-width: 1322px;
    margin: auto;
}

.container_large {
    margin: auto;
    max-width: 1440px;
}

.colorbg_header {
    background-color: var(--background-shade-lite);
}

.light_bg {
    color: var(--light-background-color);
}

.img {
    max-width: 100%;
}

/*buttons */

.outline_btn {
    box-shadow: 0 13px 19px 0 #00000012;
    border-radius: 5px;
    border-color: var(--primry-color);
    color: var(--primary-text-color);
    background-color: transparent;
    font-weight: 600;
    font-size: 14px;
}

.outline_btn:hover {
    transition: 0.5s;
    cursor: pointer;
}

.transparent_btn {
    font-weight: 700;
    font-size: 14px;
    border-radius: 5;
    background-color: transparent;
    border: none;
}

.transparent_btn:hover {
    transition: 0.5s;
    cursor: pointer;
}

.filled_btn {
    box-shadow: 0 13px 19px 0 #00000012;
    background-color: var(--primry-color);
    border-color: var(--primry-color);
    color: var(--light-text-color);
    font-size: 14px;
    font-weight: 600;
    border-radius: 5px;
}

.filled_btn:hover {
    transition: 0.5s;
    cursor: pointer;
}

.navbar {
    position: relative;
    padding: 30px 0;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo {
    font-size: 24px;
    font-weight: 700;
    color: var(--text-color);
}

.navlink {
    display: flex;
    align-items: center;
    gap: 10px;
}

.navlink ul {
    display: flex;
    align-items: center;
    gap: 20px;

}

.navlink ul li {
    position: relative;
    list-style-type: none;
}

.navlink ul li a {
    display: flex;
    align-items: center;
    color: var(--secondary-text-color);
    text-align: center;
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
}

.navlink ul li a:hover {
    transition: 0.5s;
    color: var(--primary-text-color);
}

/* down drop */

.drop_list {
    display: none;
    box-shadow: 0 13px 19px 0 #00000012;
    position: absolute;
    top: 100%;
    left: 0;
}

.drop_list ul {
    display: block;
    padding: 0;
}

.drop_list ul li a {
    text-align: center;
    display: inline-flex;
    color: var(--secondary-text-color);
    font-size: 12px;
    font-weight: 600;
    margin: 10px;
}

.navlink ul li:hover .drop_list {
    display: block;
}

/* side drop */

.drop_list1 {
    display: none;
    box-shadow: 0 13px 19px 0 #00000012;
    position: absolute;
    top: 7px;
    right: -105px
}

.drop_list1 ul {
    display: block;
    padding: 0;
}

.drop_list1 ul li a {
    text-align: center;
    display: inline-flex;
    color: var(--secondary-text-color);
    font-size: 12px;
    font-weight: 600;
    margin: 10px;
}

.drop_list ul li:hover .drop_list1 {
    display: block;
}



.btn {
    display: flex;
    align-items: center;
    gap: 10px;
}

.navbar .transparent_btn {
    color: var(--primary-text-color);
    padding: 15px 25px 15px 25px;
    border: none;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
}

.navbar .transparent_btn:hover {
    color: var(--text-color);
}

.navbar .btn .filled_btn {
    display: inline-flex;
    padding: 15px 25px 15px 25px;
    border-radius: 5px;
    background-color: var(--primry-color);
    color: var(--light-text-color);
    border: none;
    font-size: 14px;
    font-weight: 600;
    align-items: center;
    gap: 15px;
    cursor: pointer;
}

.navbar .btn .filled_btn:hover {
    color: var(--text-color);
}


.banner {
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner_dtls {
    margin: auto;
    display: flex;
    flex-direction: column;
    max-width: 437px;
    gap: 30px;
}

.banner_dtls .status p {
    font-size: 16px;
    font-weight: 700;
    color: var(--primary-text-color);
}

.banner_dtls .xl_text p {
    margin: 0;
    font-size: 46px;
    color: var(--text-color);
    font-weight: 700;

}

.banner_dtls .sub_text p {
    max-width: 458px;
    font-size: 20px;
    font-weight: 400;
    color: var(--secondary-text-color);
}

.banner .btn .filled_btn {
    padding: 15px 25px 15px 25px;
    border: 1px solid var(--primry-color);
    cursor: pointer;
}

.banner .btn .filled_btn:hover {
    background-color: transparent;
    border: 1px solid var(--primry-color);
    color: var(--primary-text-color);

}

.banner .btn .outline_btn {
    padding: 15px 25px 15px 25px;
    background-color: transparent;
    border: 1px solid var(--primry-color);
    border-radius: 5px;
    margin-left: 5px;
}

.banner .btn .outline_btn:hover {
    background-color: var(--primry-color);
    color: var(--light-text-color);
    border: 1px solid var(--primry-color);
}


/* second section */


.section_heading {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 80px;
    gap: 20px;
}

.section_heading p {
    margin: 0;
}

.section_heading .start_text {
    margin: 0%;
    color: var(--primary-text-color);
    font-weight: 700;
}

.section_heading .xl_text {
    font-size: 40px;
    font-weight: 700;
    color: var(--text-color);
}

.section_heading .sub_text {
    max-width: 469px;
    font-size: 14px;
    font-weight: 400;
    color: var(--secondary-text-color);
}

/* cards */

.cards_wrap {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.card {
    box-shadow: 0 13px 19px 0 #00000012;
    padding: 34px 40px;
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    max-width: 241px;
    gap: 20px;
}

.card:hover {
    transition: 0.5s;
    border-radius: 5px;
    box-shadow: none;
    background-color: var(--primry-color);
}

.card:hover h3 {
    color: var(--light-text-color);
}

.card:hover p {
    color: var(--light-text-color);
}

.card h3 {
    font-size: 15px;
    font-weight: 700;
    color: var(--text-color);
    display: contents;
}

.card p {
    max-width: 132px;
    color: var(--secondary-text-color);
    font-size: 14px;
    font-weight: 400;
}

.card h3::after {
    content: "";
    width: 50px;
    height: 2px;
    background-color: var(--danger-color);
    display: flex;
    flex-direction: column;
}


/* layout 3 and 4*/

.section_hero_middle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 150px;
}

.section_hero_middle_second {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.detailes {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.head {
    max-width: 399px;
    font-size: 40px;
    color: var(--text-color);
    font-weight: 700;
    margin-top: 10px;
}

.head ::before {
    content: "";
    display: flex;
    width: 98px;
    height: 7px;
    background-color: var(--danger-color);
    margin-bottom: inherit;


}

.sub_head {
    color: var(--secondary-text-color);
    font-weight: 400;
    max-width: 351px;
}

.detailes .transparent_btn {
    display: flex;
    justify-content: start;
    border: none;
    background-color: transparent;
    max-width: 130px;
    color: var(--primary-text-color);
    align-items: center;
    gap: 10px;
}

.detailes .transparent_btn .material-symbols-outlined {
    font-variation-settings:
        'FILL' 1,
        'wght' 200,
        'GRAD' 0,
        'opsz' 24
}

.detailes .transparent_btn:hover {
    color: var(--text-color);
}

.hero_cover {
    position: relative;
}

.hero_cover img {
    border-radius: 20px;
}

.play_icon {
    width: 100px;
    height: 100px;
    position: absolute;
    border-radius: 50%;
    border: none;
    background-color: var(--primry-color);
    color: var(--light-text-color);
    align-items: center;
    justify-content: center;
    display: flex;
    top: calc(50% - 50px);
    left: calc(50% - 50px);

}

.play_icon:hover {
    background-color: var(--light-background-color);
    transition: 0.5s;
}

.play_icon .material-symbols-outlined {
    color: var(--light-text-color);
    font-size: 50px;
    font-variation-settings:
        'FILL' 1,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}

.play_icon:hover .material-symbols-outlined {
    color: var(--primary-text-color);
    transition: 0.5s;
}

/* section 5 cards*/

.card_block {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    gap: 30px;
}

.cards {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
}

.card_img {
    margin: 0;
    padding: 0;
    max-width: 100%;
    position: relative;
}

.card_img::before {
    content: "Sale";
    color: var(--light-text-color);
    font-weight: 700;
    font-size: 14px;
    background-color: var(--danger-color);
    padding: 5px 10px;
    left: 20px;
    top: 20px;
    position: absolute;
    justify-self: flex-start;
    border-radius: 3px;
}

.icon_btn {
    position: absolute;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    gap: 10px;
    bottom: 24px;
    cursor: pointer;

}

.icon_btn .transparent_btn {
    background-color: var(--light-background-color);
    color: var(--dark-hover-shade);
    border-radius: 50%;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon_btn .transparent_btn:hover {
    transition: 0.5s;
    font-variation-settings:
        'FILL' 1,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}

/* dtls head */

.card_dtls {
    display: flex;
    flex-direction: column;
    padding: 25px 10px 35px 10px;
    gap: 10px;
}

.card_dtls .d_head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card_dtls h6 {
    margin: 0;
    color: var(--primary-text-color);
    font-weight: 700;
    font-size: 14px;
    font-weight: 700;
}

.card_dtls .star .material-symbols-outlined {
    color: #FFCE31;
    font-variation-settings:
        'FILL' 1,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}

.card_dtls .rating {
    margin: 0;
    padding: 0;
}

.card_dtls .star {
    display: flex;
    align-items: center;
    border-radius: 20px;
    padding: 5px;
    gap: 5px;
    background-color: var(--dark-hover-shade);
    font-weight: 400;
    font-size: 14px;
    color: var(--light-text-color);
}

/* dtls dark */

.card_dtls .d_dark {
    width: 131px;
    font-weight: 700;
    font-size: 16px;
    color: var(--text-color);
}

.card_dtls .d_lite {
    width: 182px;
    font-size: 14px;
    font-weight: 400;
    color: var(--secondary-text-color);
}

.card_dtls .icon_dlite .material-symbols-outlined {
    font-variation-settings:
        'FILL' 1,
        'wght' 200,
        'GRAD' 0,
        'opsz' 24
}

.card_dtls .icon_dlite {
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--secondary-text-color);
}

.card_dtls .icon_dlite p {
    font-weight: 700;
    font-size: 14px;
}

.card_dtls .d_prise {
    display: flex;
    font-size: 16px;
    font-weight: 700;
    gap: 5px;
}

.card_dtls .d_prise .p1 {
    color: #BDBDBD;
}

.card_dtls .d_prise .p2 {
    color: #FF7B52;
}

/* dtls filled button */

.card_dtls .d_sub .outline_btn {
    display: inline-flex;
    align-items: center;
    color: var(--primary-text-color);
    border-radius: 37px;
    padding: 10px 20px 10px 20px;
    border: 1px solid var(--primry-color);
    background-color: var(--light-background-color);
    font-weight: 700;
    gap: 10px;
}

.card_dtls .d_sub .outline_btn:hover {
    background-color: var(--primry-color);
    color: var(--light-text-color);
}

/* prizing tiles */

.pricing .material-symbols-outlined {
    font-variation-settings:
        'FILL' 1,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}

.pricing {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}


.list {
    position: relative;
    background-color: #FFFFFF;
    box-shadow: 0 13px 19px 0 #00000012;
    align-items: center;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    max-width: 328px;
    padding: 50px 40px 50px 40px;
    gap: 10px;
}

.list .check_p {
    opacity: 0;
}

.list:hover {
    transition: 0.5s;
    background-color: var(--dark-hover-shade);
    color: var(--light-text-color);
    border-radius: 5px;

}

.list:hover .check_p {
    transition: 0.5s;
    opacity: 100%;
}

.list:hover .p1 {
    color: var(--light-text-color);
    transition: 0.5s;
}

.list:hover .p2 {
    color: var(--light-text-color);
    transition: 0.5s;
}

.list:hover .p4 {
    color: var(--light-text-color);
    transition: 0.5s;
}

.list:hover .benifits p {
    color: var(--light-text-color);
    transition: 0.5s;
}

.check_p {
    top: -38px;
    right: -23px;
    position: absolute;
}

.list .check {
    border-radius: 50%;
    padding: 26px 10px;
    background-color: #E77C40;
    color: var(--light-text-color);
    font-weight: 700;
    font-size: 24px;

}

.list .fav {
    border-radius: 50px;
    padding: 20px;
    background-color: var(--primry-color);
    color: var(--light-text-color);
    align-items: center;
    justify-content: center;
    display: flex;
}

.fav span {
    font-size: 50px
}

.list .p1 {
    font-weight: 700;
    font-size: 24px;
    color: var(--text-color);
}

.list .p2 {
    max-width: 142px;
    font-size: 14px;
    font-weight: 700;
    color: var(--secondary-text-color);
    text-align: center;
}

.list .p3 {
    max-width: 80px;
    text-align: center;
}

.p3 .t1 {
    font-size: 40px;
    font-weight: 700;
    color: var(--primary-text-color);
    margin-bottom: 0;
    padding-bottom: 0;
}

.p3 .t2 {
    font-size: 14px;
    font-weight: 700;
    color: #8EC2F2;
    padding-top: 0;
    margin-top: 0;
}

.list .p4 {
    max-width: 194px;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    color: var(--secondary-text-color);
}

.pricing .filled_btn {
    padding: 15px 65px 15px 65px;
    font-weight: 700;
    border: solid 1px var(--primry-color);
    font-size: 14px;
}

.pricing .filled_btn:hover {
    background-color: var(--light-background-color);
    color: #2DC071;
    border-color: none;
}

.list .benifits {
    display: flex;
    flex-direction: column;
}

.list .wrap {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    max-width: 243px;
}

.list .done_rounded {
    display: flex;
    border-radius: 20px;
    padding: 5px;
    background-color: #2DC071;
    color: var(--light-text-color);
    align-items: center;
    justify-content: center;
    border: hidden;
}

.list .done_rounded_2 {
    display: flex;
    border-radius: 20px;
    padding: 5px;
    background-color: #BDBDBD;
    color: var(--light-text-color);
    align-items: center;
    justify-content: center;
    border: hidden;
}

.list .bnft {
    font-size: 14px;
    font-weight: 700;
    color: var(--text-color);
}

/* experts portion */

.experts {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.experts .expert_wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.experts .picture img {
    max-width: 128px;
    max-height: 128px;
    border-radius: 50%;
}

.exprt_dtls {
    max-width: 320px;
    font: 400;
    font-size: 14px;
    text-align: center;
    color: var(--secondary-text-color);
}

.experts .rtng {
    color: #FFCE31;


}

.experts .rtng {
    display: flex;
    align-items: center;
    gap: 3px;
}

.rtng_filled .material-symbols-outlined {
    font-variation-settings:
        'FILL' 1,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}

.rtng__unfilled .material-symbols-outlined {
    border-color: #FFCE31;
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}

.experts .expert_wrap {
    justify-content: center;
    align-items: center;
}

.expert_wrap .idin {
    text-align: center;
    font-weight: 700;
    font-size: 16px;
    color: var(--text-color);
}

.expert_wrap .dsgn {
    text-align: center;
    font-weight: 700;
    font-size: 14px;
    color: var(--secondary-text-color);
}

/* footer section */

.colorbg_footer_dark {
    background-color: var(--background-shade-beige);
}

.colorbg_footer_dark .section_heading {
    justify-content: center;
    align-items: center;
}

.colorbg_footer_dark .sub_text {
    text-align: center;
}

/* text box */

.text_box {
    display: flex;
    align-items: center;
    justify-content: center;
}

label {
    position: relative;
}

input[type="text"] {
    font-size: 14px;
    font-weight: 400;
    color: var(--secondary-text-color);
    border: none;
    width: 688px;
    height: 15px;
    padding: 20px 40px;
    border-radius: 5px;
    box-shadow: 0 23px 29px 0 #00000012;
}

.text_box .filled_btn {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    color: var(--light-text-color);
    font-size: 14px;
    font-weight: 400;
    border: none;
    padding: 20px 40px;
    border-radius: 0 5px 5px 0;
}

.text_box .filled_btn:hover {
    cursor: pointer;
    color: var(--text-color);
}

/* footer section */

.list_wrap {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1.5fr;
    align-items: center;
    margin: auto;
}

.end_list {
    padding: 30px 0 30px 0;
}

.end_list ul {
    padding: 0;
}

.end_list ul li p {
    color: var(--text-color);
    font-size: 16px;
    font-weight: 700;
    padding-bottom: 20px;
}

.end_list ul a {
    display: flex;
    align-items: center;
    padding-bottom: 15px;
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
    color: var(--secondary-text-color);
    gap: 15px;
}

.end_list ul li a:hover {
    text-decoration: underline;
    text-decoration-color: var(--primry-color);
}

.end_list span {
    color: var(--primary-text-color);
}

/* footer tail */

.colorbg_footer_tail {
    background-color: var(--background-shade-beige-lite);
}

.tail {
    display: flex;
    align-items: center;
    margin: auto;
    justify-content: space-between;
    padding: 10px 0;
}

.colorbg_footer_tail p {
    font-weight: 700;
    font-size: 14px;
    color: var(--secondary-text-color);
}

.social_media_icons {
    display: flex;
    gap: 20px;
    color: var(--primary-text-color);
    padding-right: 10%;
}

.social_media_icons i {
    cursor: pointer;
    font-size: 20px;
    transition: .5s;
}

.fa-facebook-official:hover {
    color: #4267B2;
}

.fa-instagram:hover {
    color: #E1306C
}

.fa-twitter:hover {
    color: #1DA1F2;
}